@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

@charset "UTF-8";

body {
  font-family: 'Open Sans', sans-serif;
  max-width: 100%;
  overflow-x: hidden;
}

:root {
  --color-default: #ff9012;
  --color-secundary: #632D4F;
  --color-black: #282828;
}

.linha {
  border: 1px solid #ededed;
}