.logo-header {
  padding: 15px 40px 15px 0;
}

.btn-search {
  position: relative;
  background: #fff;
  width: 545px;
  height: 40px;
  border-radius: 5px;
  overflow: hidden;
}

.header input {
  border: #ccc 1px solid;
  text-indent: 15px;
}

.header input:focus {
  outline: none;
  border: var(--color-default) 1px solid;
}

.search::after {
  content: '';
  position: absolute;
  background: var(--color-default);
  width: 100%;
  height: 100%;
  border-radius: 0 5px 5px 0;
  left: 92%;
  outline: none;
}

.pesquisar {
  transform: translate(-41px, 2px);
  background-color: transparent;
  border: hidden;
  cursor: pointer;
  padding: 10px;
  font-weight: 300;
}

.header-flex {
  display: flex;
  align-items: center;
}

.nav-list {
  width: 420px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--color-secundary);
  font-weight: 300;
  font-size: 14px;
}

.nav-list a {
  text-decoration: none;
}

.nav-seta {
  margin-right: 20px;
  margin-bottom: 2px;
  margin-left: 12px;
}

.nav-bag {
  margin-right: 10px;
  align-items: center;
  transform: translateY(5px);
}

.nav-item {
  margin-bottom: 8px;
}